/* resize */
.ab-container{
	border: 1px dotted #FFE0F4;
	padding: 5px;
}
.resize{
	position :absolute;
	width :auto;
	height :auto;
	top :0;
	right :0;
	bottom :0;
	left :0;
	margin :0;
	padding :0;
	overflow :hidden;
	visibility :hidden;
	z-index :-1;
}
.resize iframe{
	width: 0;
	height: 100%;
	border: 0;
	visibility: visible;
	margin: 0;
}
.resize iframe:first-child{
	width: 100%;
	height: 0;
}
.mresize{
	cursor: col-resize;
	background-color: red;
}
div.ab-row,
div.ab-col,
div.ab-container
{
	min-height: 55px;
	position: relative;
}
.ab-col{
	float: left;
}
.ab-col:not(:last-child){
	/*resize: horizontal;*/
	/*overflow: auto;*/
}

div.ab-setting{
	position: absolute;
	top: -20px;
	right: 0;
	height: 20px;
	width: 20px;
	color: #000;
}


.widget_container .widget{
	display: inline-block;
	padding: 5px;
	border: 1px solid dodgerblue;
	background-color: deepskyblue;
	margin: 5px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	cursor: pointer;
}

.row{
	margin: 0 -15px;
	padding: 0 15px;
}

[class^="col-"]{
	float: left;
	margin-bottom: 10px;
}

.col-1{	width: calc(100% / 12);}
.col-2{	width: calc(100% / 12 * 2);}
.col-3{	width: calc(100% / 12 * 3);}
.col-4{	width: calc(100% / 12 * 4);}
.col-5{	width: calc(100% / 12 * 5);}
.col-6{	width: calc(100% / 12 * 6);}
.col-7{	width: calc(100% / 12 * 7);}
.col-8{	width: calc(100% / 12 * 8);}
.col-9{	width: calc(100% / 12 * 9);}
.col-10{	width: calc(100% / 12 * 10);}
.col-11{	width: calc(100% / 12 * 11);}
.col-12{	width: 100%;}

